body{
  background-color:  rgb(31, 30, 30);
}

.navbar{
  /* border-radius: 5px; */
  /* margin: 0%;
  padding: 0%; */
  overflow: auto;
  position: sticky;
  top: 0px;
}
.navbar ul {
  float: right;
}
.navbar li{
  float: left;
  text-decoration: none;
  list-style: none;
}
.navbar li a{
  display: block;
  color: orange;
  text-decoration: none;
  padding: 15px 20px;
  text-align: center;
}
.navbar li a:hover{
  background-color: rgb(177, 149, 149);
}
/* #righttop{
  margin-right: 20px;
} */


/* .link{
  text-align: center;
  width: 50%;
  position: relative;
  bottom: 100px;
  text-decoration: none;
} */
.container{
 display: flex;
 height: 100vh ;
}
h1{
  color: aliceblue;
}
.top{
  text-align: center;
}
.form-group{
  padding: 0px 20px 0px 20px;
  
  margin: 0px;
  flex: 1;
  display: block;

  
}
.form-group input{
  height: 28px;
  width: 300px;
  color: white;
  background-color: rgb(68, 66, 66);
  border-color: hsla(0,0%,100%,0);
  /* border-radius: 30px; */
  /* padding-left: 30px; */
  /* padding: 8px 12px 8px 12px; */
  /* border-style: none none solid; */
}
.form-group select{
  width: 300px;
  height: 40px;
  border-radius: 10px;
  color: white;
  background-color: rgb(68, 66, 66);
  border-color: hsla(0,0%,100%,0);
/* justify-content: right; */
}
label{
  display: block;
  margin-bottom: 5px;
  font-weight: 400px;
  color: aliceblue;
}
.image{
  background: url(./farfar.png) no-repeat top center/cover;
  flex: 1;
}
 .form-group button{
   width: 300px;
   height: 25px;
   color: orange;
   background-color: rgb(48, 44, 44);
   border-color: rgb(78, 75, 75);
   text-align: center;
   border-radius: 10px;
   cursor: pointer;

 }
 @media (max-width: 500px ) {
   .image{
   display: none;
 }
.top {
 width: 200px;
 display: none;
}
.navbar li a{
  display: flex;
  flex-basis: 25%;
  flex-shrink: 1;
  flex-grow: 1;
  flex-wrap: nowrap;
  font-size: 14px;
}


}
